<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>
			CLIENT_ID
		</key>
		<string>
			75491205496-gaffa0pdubd0g33332lr1ps14aonhdjs.apps.googleusercontent.com
		</string>
		<key>
			REVERSED_CLIENT_ID
		</key>
		<string>
			com.googleusercontent.apps.75491205496-gaffa0pdubd0g33332lr1ps14aonhdjs
		</string>
		<key>
			API_KEY
		</key>
		<string>
			AIzaSyB82q5Qqbh6fyK_EgWo-0DYw7V45uzTvbo
		</string>
		<key>
			GCM_SENDER_ID
		</key>
		<string>
			75491205496
		</string>
		<key>
			PLIST_VERSION
		</key>
		<string>
			1
		</string>
		<key>
			BUNDLE_ID
		</key>
		<string>
			vn.lochv.ticket.pos
		</string>
		<key>
			PROJECT_ID
		</key>
		<string>
			easyinvoiceposticket
		</string>
		<key>
			STORAGE_BUCKET
		</key>
		<string>
			easyinvoiceposticket.appspot.com
		</string>
		<key>
			IS_ADS_ENABLED
		</key>
		<false>
		</false>
		<key>
			IS_ANALYTICS_ENABLED
		</key>
		<false>
		</false>
		<key>
			IS_APPINVITE_ENABLED
		</key>
		<true>
		</true>
		<key>
			IS_GCM_ENABLED
		</key>
		<true>
		</true>
		<key>
			IS_SIGNIN_ENABLED
		</key>
		<true>
		</true>
		<key>
			GOOGLE_APP_ID
		</key>
		<string>
			1:75491205496:ios:fdd2e9179ae60ce7c2e88d
		</string>
	</dict>
</plist>
